<HTML>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- icons -->
    <script src="https://kit.fontawesome.com/a7e5305de0.js" crossorigin="anonymous"></script>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <title>Artistia</title>
</head>

<body style="background-size: cover; background-position: center; background-repeat: no-repeat;">

    <section id="search">

        <div class="row">
            <div class="col-sm-12 my-auto bg-danger text-white" style="padding: 50px;">
                <a href={{url_for('index')}}>
                    <center><img src="{{url_for('static', filename = 'logo.png')}}" alt="logo" height="200px"
                            width="200px"></center>
                </a>
                <div style="padding-top: 10px;"></div>
                <center>
                    <p><strong>Disclaimer: in case the image previews are not updated properly then try refreshing the
                            page</strong></p>
                </center>
            </div>

    </section>

    <section id="main">

        <div class="row" , style="padding-top: 30px;">
            <div class="pricing-col col-lg-4 col-md-2" , style="padding: 20px;"></div>
            <div class="pricing-col col-lg-4 col-md-4" , style="padding: 20px;">
                <center>
                    <div>
                        <form action="/pixel" method="post" enctype="multipart/form-data">
                            <div class="card bg-danger">
                                <img class="card-img-top text-white"
                                    src={{url_for('static', filename = 'uploads/source3.png')}} alt="no picture selected"
                                    width="200" height="300">
                                <div class="card-body">

                                    <div class="form-group text-white">
                                        <label for="exampleFormControlFile1"><strong>Choose an image to be pixelated</strong></label>
                                        <input type="file" class="form-control-file" name='source'>
                                        <label for="size"><strong>Specify pixel size (optional)(around 6-10 for high res images, 4-6 for low res)</strong></label>
                                        <input type="number" name='size'>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div style="padding-top: 20px;"></div>
                    <center>
                        <button type="submit" class="btn btn-lg btn-warning" style="width: 300;">Pixelate Image</button>
                    </center>
                    </form>
            </div>
            </center>
        </div>
        <br>
        <center>
            <div class="pricing-col col-lg-4 col-md-4" , style="padding: 20px;">
                <center>
                    <div>
                        <div class="card bg-danger">
                            <img class="card-img-top text-white"
                                src={{url_for('static', filename = 'results/result_pixel.png')}} alt="error" width="200"
                                height="300">
                            <div class="card-body">
                                <h5 class="text-white">Result Image</h5>
                                <p class="text-white">Here is the Pixelated output</p>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
        </center>

        </div>

    </section>

</body>
